**
!package.json
!package-lock.json
!npm-shrinkwrap.json
!src/
!src/**
!deploy/
deploy/*
!deploy/docker/
deploy/docker/*
!deploy/docker/Dockerfile
!deploy/docker/entrypoint.sh
!deploy/docker/cloudflared.Dockerfile
!deploy/docker/cloudflared-guard.go
