**
!package.json
!package-lock.json
!npm-shrinkwrap.json
!src/
!src/**
!deploy/
deploy/*
!deploy/docker/
deploy/docker/*
!deploy/docker/Dockerfile
!deploy/docker/entrypoint.sh
!deploy/docker/cloudflared.Dockerfile
!deploy/docker/cloudflared-guard.go
!deploy/docker/sing-box/
deploy/docker/sing-box/*
!deploy/docker/sing-box/go.mod
!deploy/docker/sing-box/go.sum
!deploy/docker/cloudflared/
deploy/docker/cloudflared/*
!deploy/docker/cloudflared/go.mod
!deploy/docker/cloudflared/go.sum
