[Unit]
Description=VPN gateway services
Wants=network-online.target
After=network-online.target vpn-gateway-controller.service vpn-gateway-subscription.service vpn-gateway-admin.service vpn-gateway-tunnel.service
Requires=vpn-gateway-controller.service vpn-gateway-subscription.service vpn-gateway-admin.service vpn-gateway-tunnel.service

[Install]
WantedBy=multi-user.target
